body {
    font-family: futura, sans-serif;
    color: #333333;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Futura, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #2D337B;
}

a:hover {
    text-decoration: underline;
    background-color: #2D337B;
    color: #ffffff;
}

img {
	height: 50%;
	padding: 2%;
}

p{
	padding: 3%;
}

form {
	padding: 3%;
}

li {
	padding-top: 2%;
}

footer {
	background-color: #FEAF4B;
	padding: 3%;
}
